/* Global */
* {
  margin: 0;
}

body {
  box-sizing: border-box;
  background: center / cover no-repeat url('./media/white-clouds.jpg');
  width: 100%;
  height: 100vh;
  font-family: 'Optima', Calibri, sans-serif;
  padding-top: 5rem;
}

/* Section */
section {
  display: flex;
  flex-direction: column;
  width: 18rem;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

h2 {
  margin-bottom: 0.5rem;
  color: #0000FF;
}

a {
  padding: 0.5rem;
  border: 1px solid #000000;
  font-family: Optima, 'Century Gothic', sans-serif;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  color: #000000;
}

a:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 37%);
}

a:active {
  background-color: #FFFFFF;
}

nav {
  width: 90%;
}

nav > div {
  margin-block: 1.5rem;
}

nav > div:nth-child(2) {
  text-align: center;
}

nav > div:nth-child(3) {
  text-align: end;
}

/* Large devices  =========================================================  */
@media only screen and (min-width: 48rem) {
  body {
    padding-top: 10rem;
  }
} 
