/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 20rem;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #F2F2F2;
  padding: 1rem;
}

/* Animation at-rules */
@keyframes boopIn {
  0% {
    opacity: 0;
  }
  79% {
    opacity: 0;
    transform: scale(1);
  }
  80% {
    opacity: 1;
  }
  87% {
    transform: scale(0.70);
  }
  95% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes arcLike {
  0% {
    left: 30%;
    top: 60%;
  }
  25% {
    left: 45%;
    top: 45%;
  }
  50% {
    left: 60%;
    top: 30%;
  }
  62% {
    left: 65%;
    top: 24%;
  }
  75% {
    left: 70%;
    top: 18%;
  }
  88% {
    left: 75%;
    top: 20%;
  }
  100% {
    left: 80%;
    top: 22%;
  }
}

@keyframes floatLeftRight {
  0% {
    right: 4%;
  }
  3% {
    right: 4%;
  }
  47% {
    right: 64%;
  }
  53% {
    right: 64%;
  }
  97% {
    right: 4%;
  }
  100% {
    right: 4%;
  }
}

/* Navigation Bar */
nav {
  padding: 0.5rem 0 2.5rem 0.5rem;
  font-size: 0;
}

a,
button {
  padding: 0.5rem;
  border: 1px solid #000000;
  margin-right: 1rem;
  font-family: Optima, 'Century Gothic', sans-serif;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  color: #000000;
}

nav > a:last-of-type,
button {
  margin-right: 0;
}

a:hover,
button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 50%);
}

a:active,
button:active {
  background-color: #FFFFFF;
}

/* About Me - Section */
/* Mobile viewport has layered pseudo element, Desktop has animation instead */
#about {
  position: relative;
}

.depiction::before {
  background-color: #B0E0E680;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
}

.depiction * {
  position: relative;
}

h1,
h2 {
  font-family: 'Boogaloo', cursive;
  text-transform: uppercase;
  padding-block: 1rem;
}

#about p {
  line-height: 1.25;
  padding: 0.5rem;
}

/* Skills - Section */
#skills {
  display: flex;
  flex-direction: column;
}

#skills > div {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.syntax {
  width: 100%;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.syntax > div {
  text-align: center;
}

.syntax img {
  width: 3.125rem;
  height: 3.125rem;
}

.description {
  width: 100%;
  padding: 0.5rem 0 0 0;
}

.description > p {
  padding-block: 0.125rem;
}

/* Education - Section */
#education {
  padding: 0.5rem;
}

#education > div {
  padding: 0 0 0.5rem 0;
}

#education div:last-child {
  padding: 0 0 0 0;
}

.school {
  font-style: italic;
}

.subject {
  padding-left: 1.5rem;
}

/* Resumé - Section */
#resume {
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}

/* Small devices */
#skills > div.partial-hr {
  padding: 0.25rem;
}

.desktop-sky {
  display: none;
}

/* Very small devices  ============  */
@media only screen and (max-width: 23rem) {
  a {
    font-size: 0.8125rem;
    margin-right: 0.875rem;
  }
  nav {
    padding: 0.5rem 0 2rem 0.5rem;
  }
  #about p {
    padding: 0.5rem 0;
  }
  #skills > div {
    padding: 0.5rem 0;
  }
  #education {
    padding: 0.5rem 0;
  }
}

/* Large devices  =========================================================  */
@media only screen and (min-width: 48rem) {
  body {
    max-width: 80rem;
    margin: 0 auto;
  }
  .depiction::before {
    content: none;
  }
  section {
    display: flex;
  }
  .depiction {
    width: 50%;
    background-color: inherit;
  }
  #about p {
    padding: 0.5rem 0 0.5rem 0.5rem;
  }
  .desktop-sky {
    display: block;
    width: 50%;
    background-color: #87CEFA;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 32% 100%);
    position: relative;
  }
  #sun {
    background-color: gold;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    left: 30%;
    top: 60%;
    animation: boopIn 1250ms ease-out, arcLike 2.5s linear 1500ms forwards;
  }
  .cloud {
    background-color: #FFF5EE;
    width: 7rem;
    height: 2.5rem;
    border-radius: 35px;
    position: absolute;
    right: 4%;
    top: 37%;
    animation: floatLeftRight 20s ease-in-out 2.5s 3;
  }
  .cloud div:first-child {
    background-color: #FFF5EE;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    position: absolute;
    right: 46%;
    top: -39%;
  }
  .cloud div:last-child {
    background-color: #FFF5EE;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    position: absolute;
    right: 8%;
    top: -65%;
  }
  #skills > div {
    flex-direction: row;
  }
  .syntax {
    width: 50%;
    padding-right: 2rem;
  }
  .description {
    width: 50%;
    padding: 0 0 0 2rem;
  }
  #skills > div.partial-hr {
    width: 100%;
    justify-content: space-around;
    padding: 0.5rem;
    margin: 0 auto;
  }
  #skills > div.partial-hr > div {
    width: 17%;
    height: 0.25rem;
    background-color: #87CEFA;
  }
  #skills > div.partial-hr > div.transparent {
    background-color: transparent;
  }
  #education {
    flex-direction: column;
  }
  #education > div,
  #education div:last-child,
  #resume {
    display: flex;
    width: 48rem;
    margin: 0 auto;
    padding: 0.5rem;
  }
  .school,
  #resume > div {
    width: 30%;
    text-align: right;
  }
  .subject {
    width: 70%;
  }
} 
